mixin checkbox(label, bind)
    label.custom-checkbox
        input(type='checkbox', rv-checked=bind)&attributes(attributes)
        |  #{label}

mixin radio(label, bind, name)
    label.custom-radio
        input(type='radio', name=bind, value=name, id=name, rv-checked=bind)&attributes(attributes)
        |  #{label}
