mixin timer-ui(name, showid, tid)
    +live-card(showid)
        .card-header
            h4.card-title= name
            block
        ul.list-group.list-group-flush
            li.list-group-item: +checkbox('Show', showid)
            li.list-group-item.py-1
                .input-group
                    .input-group-prepend: span.input-group-text Reset
                    +textbox('Limiter (seconds)', tid + '_limiter')
                    .input-group-append: .btn-group
                        button.btn.btn-warning.mdi.mdi-timer(fg-timer-id=tid fg-timer-op='set' fg-timer-lmode='soft' rv-fg-timer-limiter=tid + '_limiter') Soft limit
                        button.btn.btn-danger.mdi.mdi-timer(fg-timer-id=tid fg-timer-op='set' fg-timer-lmode='hard' rv-fg-timer-limiter=tid + '_limiter') Hard limit
                        button.btn.btn-success.mdi.mdi-timer(fg-timer-id=tid fg-timer-op='set') No limit
            li.list-group-item.py-1
                .btn-group.float-right
                    if ugr_debug
                        button.btn.btn-warning(fg-timer-id=tid fg-timer-op='query') Query
                    button.btn.btn-success.mdi.mdi-step-backward(fg-timer-id=tid fg-timer-op='down')
                    button.btn.btn-danger.mdi.mdi-pause(fg-timer-id=tid fg-timer-op='stop')
                    button.btn.btn-success.mdi.mdi-step-forward(fg-timer-id=tid fg-timer-op='start')
            li.list-group-item.list-group-item-info.py-1
                .btn-group.btn-group-sm
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-60') -1m
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-30') -30s
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-10') -10s
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-5') -5s
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-1') -1s
                .btn-group.btn-group-sm.float-right
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='1') +1s
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='5') +5s
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='10') +10s
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='30') +30s
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='60') +1m
            li.list-group-item.list-group-item-info.py-1
                .btn-group.btn-group-sm
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-3600') -60m
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-1800') -30m
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-600') -10m
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='-300') -5m
                .btn-group.btn-group-sm.float-right
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='300') +5m
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='600') +10m
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='1800') +30m
                    button.btn.btn-info(fg-timer-id=tid fg-timer-op='add' fg-timer-counter='3600') +60m
