mixin timer-ui(name, showid, tid)
    - let tobj = 'timer.' + tid
    +live-card(showid)
        .card-header
            h4.card-title= name
            block
        ul.list-group.list-group-flush
            li.list-group-item: +checkbox('Show', showid)
            li.list-group-item.py-1: .input-group
                .input-group-prepend
                    span.input-group-text { #{tobj}.counter | minutes }
                +textbox('Counter (seconds)', tid + '_counter')(rv-enabled=tobj)
                .input-group-append
                    button.btn.btn-primary(fg-timer-id=tid fg-timer-op='init' rv-hide=tobj) Initialise
                    button.btn.btn-warning(rv-show=tobj fg-timer-id=tid fg-timer-op='set' rv-fg-timer-counter=tid + '_counter') Set
            li.list-group-item.py-1
                .input-group
                    .input-group-prepend: button.btn.btn-secondary(fg-timer-id=tid fg-timer-op='set' fg-timer-direction='<') Down
                    span.input-group-text { timer.#{tid}.direction }
                    .input-group-append: button.btn.btn-secondary(fg-timer-id=tid fg-timer-op='set' fg-timer-direction='>') Up
