mixin timer-ui(name, showid, tid)
    - let tobj = 'timer.' + tid
    +live-card(showid)
        .card-header
            h4.card-title= name
            block
        ul.list-group.list-group-flush
            li.list-group-item: +checkbox('Show', showid)
            li.list-group-item.py-1: .input-group
                .input-group-prepend: span.input-group-text(rv-class-timer-overtime=tobj + '.overtime') { #{tobj}.counter | minutes }
                +textbox('Counter (seconds)', tid + '_counter')(rv-enabled=tobj)
                .input-group-append
                    button.btn.btn-warning(rv-enabled=tobj fg-timer-id=tid fg-timer-op='set' rv-fg-timer-counter=tid + '_counter | shc 0' ) Set
            li.list-group-item.py-1: .input-group
                .input-group-prepend: span.input-group-text { #{tobj}.limiter | minutes }
                +textbox('Limiter (seconds)', tid + '_limiter')(rv-enabled=tobj)
                .input-group-append
                    button.btn.btn-warning(rv-enabled=tobj fg-timer-id=tid fg-timer-op='set' rv-fg-timer-limiter=tid + '_limiter | shc 0') Set
            li.list-group-item.py-1: .row
                .col-4: .input-group
                    .input-group-prepend
                        button.btn.btn-secondary(rv-enabled=tobj fg-timer-id=tid fg-timer-op='set' fg-timer-direction='<') Down
                        span.input-group-text { timer.#{tid}.direction | shc '-' }
                    .input-group-append: button.btn.btn-secondary(rv-enabled=tobj fg-timer-id=tid fg-timer-op='set' fg-timer-direction='>') Up
                .col-4
                    .input-group
                        .input-group-prepend
                            btn.btn.btn-secondary(fg-timer-id=tid fg-timer-op='set' fg-timer-lmode='none') None
                        .input-group-append
                            span.input-group-text { timer.#{tid}.lmode | shcapitalise 'Limiter mode' }
                            btn.btn.btn-secondary(fg-timer-id=tid fg-timer-op='set' fg-timer-lmode='soft') Soft
                            btn.btn.btn-secondary(fg-timer-id=tid fg-timer-op='set' fg-timer-lmode='hard') Hard
                .col-4: .btn-group.float-right
                    button.btn.btn-primary.float-right(fg-timer-id=tid fg-timer-op='init') { #{tobj} | cond 'Reset' 'Initialise' }
                    button.btn.btn-danger(rv-enabled=tobj fg-timer-id=tid fg-timer-op='halt') Halt
                    button.btn.btn-success(rv-enabled=tobj fg-timer-id=tid fg-timer-op='run') Run
