-
    var inputAttributes = {
        autocomplete: 'off',
        autocorrect: 'off',
        autocapitalize: 'off',
        spellcheck: 'false',
        type: 'text'
    }

mixin textbox(placeholder, model)
    input.form-control(rv-value=model, placeholder=placeholder)&attributes(inputAttributes)&attributes(attributes)

mixin textbox-copy(placeholder, model)
    input.form-control(fg-copy=model, placeholder=placeholder)&attributes(inputAttributes)&attributes(attributes)

mixin textbox-group-copy(placeholder, group, model)
    input.form-control(fg-copy=model, fg-copy-group=group, placeholder=placeholder)&attributes(inputAttributes)&attributes(attributes)
