doctype html
html
    head
        title #{product} Dashboard | #{project}
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/output/scss/dash.css')
    body
        nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse: .container
            a.navbar-brand(href='/dash')= product
                small  Dashboard
            .mr-auto
            a.navbar-brand(href='/dash')= project

        .container: .card#contentCard
            .card-header: ul.nav.nav-tabs.card-header-tabs#mainNav
                li.nav-item(data-remove-loaded): a.nav-link.disabled(href='#') &nbsp;
            .card-block: #content
                #loading(data-remove-loaded): h1 Loading, please wait...

        footer: .container
            .row
                .col-md-6: span
                    strong= product
                    |  &copy; #{new Date().getFullYear()} #{copyright}
                .col-md-6.text-lg-right
                    // - Please do not remove this copyright notice -
                    span.m-0(style='font-size: 0.9rem;')
                        small.text-muted
                            strong  Forge Graphics Server
                            |  | Built in Sheffield
                            |  | &copy; 2017 Forge Media
                    img.ml-3(src='/assets/img/forge.svg', style='height: 20px; opacity: 0.25;')

        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/dash')
