- let year = new Date().getFullYear()
doctype html
html
    head
        title #{product} Dashboard | #{project}
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf8')
        link(rel='stylesheet', href='/assets/css/dash.css')
    body
        nav.navbar.navbar-dark.bg-dark: .container
            a.navbar-brand(href='/dash')= product
                small.text-muted  Dashboard
            .mr-auto
            a.navbar-brand(href='/dash')= project

        .container: .card#contentCard
            .card-header: ul.nav.nav-tabs.card-header-tabs#mainNav
                li.nav-item(data-remove-loaded): a.nav-link.disabled(href='#') &nbsp;
            .card-body: #content
                #loading.mt-3(data-remove-loaded): h1 Loading, please wait...

        footer: .container
            .row
                .col-md-6: span
                    strong= product
                    |  &copy; #{year} #{copyright}
                .col-md-6.text-lg-right
                    span.m-0(style='font-size: 1rem;')
                        small.text-muted
                            strong  Forge Graphics Server
                            |  | Made in Sheffield
                            |  | &copy; 2016–#{year} Forge
                    a.ml-3#footerLink(href='http://forgetoday.com/', target='_blank')
                        img(src='/assets/img/forge.svg', style='height: 20px;')

        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/dash/dash')
