doctype html
html
    head
        title #{product} Dashboard | #{project}
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/output/scss/dash.css')
    body
        nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse: .container
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse')
                span.navbar-toggler-icon
            a.navbar-brand(href='/dash')= product
                small  Dashboard
            .collapse.navbar-collapse
                ul.navbar-nav.mr-auto
            a.navbar-brand(href='/dash')= project

        .container: .card#contentCard
            .card-header: ul.nav.nav-tabs.card-header-tabs#mainNav
                li.nav-item(data-remove-loaded): a.nav-link.disabled(href='#') &nbsp;
            .card-block: #content
                #loading(data-remove-loaded): h1 Loading, please wait...

        footer: .container
            span
                strong= product
                |  &copy; #{copyright}

        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/dash')
